repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: "^docs/"
      - id: trailing-whitespace
        exclude: "^docs/"
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
        args: ["fastapi_template"]
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: false
        args: ["fastapi_template"]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: false
        args: ["fastapi_template"]
  - repo: local
    hooks:
      - id: sphinx-build
        name: sphinx-build
        entry: uv run sphinx-build -b html docs docs/_build/html
        language: system
        pass_filenames: false
