repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: "^docs/"
      - id: trailing-whitespace
        exclude: "^docs/"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies: ["sqlalchemy2-stubs", "sqlmodel"]
  - repo: local
    hooks:
      - id: sphinx-build
        name: sphinx-build
        entry: uv run sphinx-build -b html docs docs/_build/html
        language: system
        pass_filenames: false
