apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init
  namespace: warren-enterprises-ltd
data:
  init.sql: |
    -- Create kratos database if it doesn't exist
    SELECT 'CREATE DATABASE kratos' WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'kratos')\gexec
